[user]
	email = f.alalaiwat@chargecloud.de
	name = Faisal Alalaiwat
[credential]
	helper = libsecret
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
